*{
    font-family: "Gill Sans MT";
}


.place{
    display:flex;
    justify-content: space-evenly;
    margin:30px;
}

.search{
    display:flex;
    justify-content: center;
}

.holder{
    display: flex;
}


.placehold{
    margin-left: 30px;
}
